@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
    --first-color: #1D70FA;
    --bg-white-color: #FDFEFD;
    --second-color: #828282;
}

body {
    margin: 0;
    padding: 0;
}

.row {

    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form {
    background-color: var(--bg-white-color);
    height: 550px;
    width: 400px;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.form img.favicon {
    width: 30px;
    height: 30px;

}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.title {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}

.form-row {
    height: 250px;
    /* background-color: black; */
    margin-left: 30px;
    margin-right: 30px;
}

.form-row .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--second-color);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form-row a.link {
    text-decoration: none;
    color: var(--first-color);
    font-family: 'Roboto';
    font-size: 14px;
}

.form-row a.link:hover {
    opacity: 0.9;
}

.form-row .input i {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-right: 10px;
    z-index: 1;
}




.form-row .input {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.form-row .input input {
    position: absolute;
    left: 0;
    right: 0;
    width: 93%;
    height: 40px;
    border: 1px solid var(--second-color);
    background-color: transparent;
    border-radius: 4px;
    font-size: 17px;
    padding: 5px 10px;
    transition: .1s ease-in-out;
}

.form-row .footer {
    position: fixed;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}

.form-row .submit {
    width: 30%;
    height: 50px;
    /* background-color: var(--first-color); */
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.form-row .form-row .input input:focus {
    border: 1px solid var(--first-color);
    transition: .1s ease-in-out;
}